<!DOCTYPE html>
<html>

	<head>
		<title>ArrivAR</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script>
			$(document).ready(function () {
				// Add smooth scrolling to all links
				$("a").on('click', function (event) {
					// Make sure this.hash has a value before overriding default behavior
					if (this.hash !== "") {
						// Prevent default anchor click behavior
						event.preventDefault();
						// Store hash
						var hash = this.hash;
						// Using jQuery's animate() method to add smooth page scroll
						// The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
						$('html, body').animate({
							scrollTop: $(hash).offset().top
						}, 800, function () {
							// Add hash (#) to URL when done scrolling (default click behavior)
							window.location.hash = hash;
						});
					} // End if
				});
			});
		</script>

	</head>

	<body>
		<div class="header">
			<h1>
				<div class="font-effect-shadow-multiple">ArrivAR
					<div>
			</h1>
			</div>
			<nav>
				<ul>
					<li>
						<a href="#section1">Introduction</a>
					</li>
					<li>
						<a href="#section2">About Our App</a>
					</li>
					<li>
						<a href="#section3">How We Made It</a>
					</li>
					<li>
						<a href="#section4">Future Steps</a>
					</li>
				</ul>
			</nav>
			<section id="section1">Introduction</section>
				<body>
					Whether you just moved to a new area or are just visiting, it is hard to get familiar with new surroundings. In a highly globalized world, access to travel and long distance relocation has become more widely available, so that people can visit more new places. 
					
					However, the travel experience can be tainted by unfamiliarity to the surrounding areas. Being lost and stressing out is no way to travel. As lovers of travelling, our group wanted to find a solution for newcomers and visitors to new areas to feeling welcomed and accustomed to the place.				
				</body>
			<section id="section2">About Our App</section>
				<body>We created an iOS app, called ArrivAR, that allows users to interact with other users, by posting status updates that will pop up on the screen. The post will be anchored in midair, near the location, where the status was posted, so that different users can interact with each other with a greater sense of spatial closeness. 
					
					ArrivAR also acts as a tour guide for the user, as historical and interesting facts about a certain location will be posted in mid-air similar to the status updates. These facts will help the traveler or the newcomer to get to know the new place.
					
					Lastly, ArrivAR acts an advertisement site for nearby deals and job posting site for nearby jobs. Users can find good deals learn about good places to shop and eat nearby. Also, users who are interested in jobs will be able to see job posting in the air and click on the ad to get information about the job. This will especially help those who moved into a new area to find a job.
				</body>
			<section id="section3">How We Made It</section>
			<body>Aditya</body>
			<section id="section4">Future Steps</section>
				<body>For ArrivAR, we hope to improve the user's experience and interaction with the technology and with other users in social media, tourism, job search, and advertisement. We also hope to make it available in other languages because it would be greatly beneficial to international tourists
					
				</body>
	</body>

	<footer>We would like to thank Georgia Tech and the Georgia Tech students who put this event together. We would also like to thank MLH, all the sponsors, mentors, and auxiliary staff who made this event possible and a success.</footer>
</html>