<!DOCTYPE html>
<html>

	<head>
		<title>ArrivAR</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/styles.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script>
			$(document).ready(function () {
				// Add smooth scrolling to all links
				$("a").on('click', function (event) {
					// Make sure this.hash has a value before overriding default behavior
					if (this.hash !== "") {
						// Prevent default anchor click behavior
						event.preventDefault();
						// Store hash
						var hash = this.hash;
						// Using jQuery's animate() method to add smooth page scroll
						// The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
						$('html, body').animate({
							scrollTop: $(hash).offset().top
						}, 800, function () {
							// Add hash (#) to URL when done scrolling (default click behavior)
							window.location.hash = hash;
						});
					} // End if
				});
			});
		</script>

	</head>

	<body>
		<div class="header">
			<h1>
				<div class="font-effect-shadow-multiple">ArrivAR
					<div>
			</h1>
			</div>
			<nav>
				<ul>
					<li>
						<a href="#section1">Introduction</a>
					</li>
					<li>
						<a href="#section2">About Our App</a>
					</li>
					<li>
						<a href="#section3">How We Made It</a>
					</li>
					<li>
						<a href="#section4">Future Steps</a>
					</li>
				</ul>
			</nav>
			<section id="section1">Introduction</section>
			<section id="section2">About Our App</section>
			<section id="section3">How We Made It</section>
			<section id="section4">Future Steps</section>
	</body>

	<footer>FOOTER</footer>
</html>